<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Deployer.Raspberry.Gui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Deployer.Android.Gui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <userSettings>
        <Deployer.Raspberry.Gui.Properties.Settings>
            <setting name="WimFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="UseCompactDeployment" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CleanDownloadedBeforeDeployment" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>720</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>960</value>
            </setting>
            <setting name="IsMaximized" serializeAs="String">
                <value>False</value>
            </setting>
        </Deployer.Raspberry.Gui.Properties.Settings>
        <Deployer.Android.Gui.Properties.Settings>
            <setting name="WimFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="SizeReservedForWindows" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="UseCompactDeployment" serializeAs="String">
                <value>False</value>
            </setting>
        </Deployer.Android.Gui.Properties.Settings>
    </userSettings>
</configuration>
