<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Deployer.Lumia.Gui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Deployer.Lumia.Gui.Properties.Settings>
            <setting name="WimFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="SizeReservedForWindows" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="UseCompactDeployment" serializeAs="String">
                <value>False</value>
            </setting>
        </Deployer.Lumia.Gui.Properties.Settings>
    </userSettings>
</configuration>